// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

*,html, body{
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
