@use '../utils/mixins' as mixins;

.wrapper{
  @include mixins.center-auto(920px);
  padding-bottom: 30px;

  @include mixins.grid(repeat(3, minmax(200px, 300px)),20px);
}


@media screen and (max-width: 860px) {
  .wrapper{
  @include mixins.grid(repeat(2, minmax(200px, 340px)),20px, center);

  }
}

@media screen and (max-width: 606px) {
  .wrapper{

  
  @include mixins.grid(repeat(1, minmax(200px, 340px)), center);
    .card-single{
      text-align: center;
      img{
        display: inline-block;
      }
    }
  }
}
