@use '../utils/mixins' as mixins;

.content-fourth{
  @include mixins.center-auto(1440px);
  @include mixins.grid(repeat(2,1fr), $align-items:center);
  .card-single{
    grid-column: 1/3;
  }

  .card-single{
    text-align: center;
    @include mixins.center-auto(400px)
  }

}


.content-fourth__right{

  display: flex;
  gap: 20px;

}

.content-fourth__left{

  .title-main{
   
    @include mixins.flex($align: center,$gap:20px);
    
    img{width: 100%;max-width: 330px;margin-bottom: 50px; }
    .paragraph{max-width: 170px; min-width: 100px;}
  }
}





@media screen and (max-width: 736px) {
  .content-fourth{
    @include mixins.grid(repeat(1,1fr), $align-items:center);
    gap: 20px;
    .card-single{
      grid-column: auto;
    }
  
  }
  .content-fourth__right{
    
    justify-self: center;
    .title-main{text-align: center;}
  }
}


@media screen and (max-width:1001px) {

  .content-fourth__left{

    .title-main{
      margin-bottom: 20px;
      @include mixins.flex(0, column,center,center,20px);
     
    }
  }
  

  .order-1{
    order: 1;
  }
  
  .order-2{
    order: 2;
  }
  .sequence{display: none;}

}