@use '../utils/mixins' as mixins;
.content-third{

  column-gap: 30px;
  @include mixins.grid(repeat(2, 1fr));
  @include mixins.center-auto(1443px);

  .content-third__bottom{
    position: relative;
    min-height: 500px;
    grid-column: 1/3;
    background: #fff url('/projeto_09_/src/img/bg/bg_02.png') no-repeat;
    background-position: center;
    background-size: contain;
    
    h2 {
      position: absolute; /* ou fixed */
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }
    
    
  }

}

@media screen and (max-width:980px){
  .content-third{

    grid-template-columns: 1fr;
    column-gap: 0px;
    
    .content-third__text{
      @include mixins.flex($direction: colun,$align:center)
    }

    .content-third__bottom{grid-column: auto;}
    
  }
  
}