@use '../utils/mixins' as mixins;
.content-third{
  

  @include mixins.grid(repeat(2, 1fr));
  @include mixins.center-auto(1443px);
  gap: 30px;
  .content-third__bottom{
    position: relative;
    min-height: 500px;
    grid-column: 1/3;
    background: #fff url('/projeto_09_/src/img/bg/bg_02.png') no-repeat;
    background-position: center;
    background-size: contain;
    
    h2 {
      position: absolute; /* ou fixed */
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }
    
    
  }

}
@media screen and (max-width: 490px) {
  .content-third{

    padding-right: 0;
    .content-third__bottom{
      min-height: 300px;
      background-size: cover;
      
      h2 {
        width: 100%;
        max-width: 100%;
        transform: translate(-50%, -10%);
      }
      
    }
    img{
      display: none;
    }
    .content-third__text{
      grid-column: 1/3;
 
    }
  }
}
@media screen and (min-width:491px) and (max-width:980px){
  .content-third{

    grid-template-columns: 1fr;
    column-gap: 0px;
    
    .content-third__text{
      @include mixins.flex($direction: colun,$align:center)
    }

    .content-third__bottom{grid-column: auto;}
    
  }
  
}