@use '../utils/mixins' as mixins;
@use '../utils/variables' as variebles;


.sidebyside{
  padding: 90px 0;
  @include mixins.grid($templete-columns:1fr 5px 1fr,$gap:20px);

  
  .title-main{grid-column: 1/4; text-align: center; 
    h2{color: #545454; 
      font-size: 1.60rem;
      .bold{font-weight: bold; font-size: 1.60rem}}
    };


  .line{border-left: 3px solid #ccc; };

  li{
    font-size: 1.2rem;
    margin-top: 15px;
    position: relative;
    .line-meddle{border: 3px solid #9d070771; position: absolute; width: 100%; left: 0px;top: 10px;
    transform: rotate(-5deg)}
   }


  .side__left{justify-self: end; text-align: center;
    .title-main{.title--detail{color: #46991666;}}
    li{color: #2d5c1271;}
  }
  .side__right{justify-self: start; text-align: center;
  li{
    color: variebles.$color-third ;
  }}

}