@mixin flex($padding: 10px, $direction: row, $space: start, $align: start, $gap:0) {
  display: flex;
  flex-wrap: wrap;
  padding: $padding;          
  flex-direction: $direction;  
  justify-content: $space;   
  align-items: $align;        
}


@mixin center-auto($max-width: 900px){
  margin: 0 auto;
  max-width: $max-width;
}


@mixin btn-input($background: #3d9d45, $color: white){
  background-color: $background;
  color: $color;
}


@mixin grid($templete-columns: 1fr, $gap:0, $justify-content: auto, $align-items:auto){
  display: grid;
  gap: $gap;
  grid-template-columns: $templete-columns;
  justify-content: $justify-content;
  align-items: $align-items;
}