:root{

  


}


$color-primary: #509d87; /* text  */
$color-secundary: #8deace; /* text details */

$color-third: #00daaa; /* btn */
$color-fourth: #04ca9e; /* title details #04ca9e */

$color-fifth: #2f564b; /* paragraph */
$color-sixth: #b7b7b7; /* border input */
$color-seventh: white; /* bg input */
$color-eighth: white; /* color btn */